.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
}

.disable {
    pointer-events: none;
    cursor: default;
    background-color: black;
}

.X-claimed {
    color: #f00;
    background-color: #f00;
}

.O-claimed {
    color: #00f;
    background-color: #00f;
}